# Reading News Data

In [1]:
import pandas as pd
import pickle

### Read the News Articles

In [2]:
article1 = pd.read_csv('data/articles1.csv') #50,000 news articles
article2 = pd.read_csv('data/articles2.csv') #49,999 news articles
article3 = pd.read_csv('data/articles3.csv') #42,571 news articles

In [3]:
# Total News
len1 = len(article1)
len2 = len(article2)
len3 = len(article3)
print(len1+len2+len3)

142570

### Merge the News Articles

In [4]:
data1 = pd.DataFrame(article1)
data2 = pd.DataFrame(article2)
data3 = pd.DataFrame(article3)
data = [data1, data2, data3]
news_data = pd.concat(data)
len(news_data)

142570

### News Articles (142570)

In [5]:
news_data

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...,...,...,...,...,...,...,...,...
42566,146028,218078,An eavesdropping Uber driver saved his 16-year...,Washington Post,Avi Selk,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Uber driver Keith Avila picked up a p...
42567,146029,218079,Plane carrying six people returning from a Cav...,Washington Post,Sarah Larimer,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,Crews on Friday continued to search L...
42568,146030,218080,After helping a fraction of homeowners expecte...,Washington Post,Renae Merle,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,When the Obama administration announced a...
42569,146031,218081,"Yes, this is real: Michigan just banned bannin...",Washington Post,Chelsea Harvey,2016-12-30,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,This story has been updated. A new law in...
42570,146032,218082,What happened in Washington state after voters...,Washington Post,Christopher Ingraham,2016-12-29,2016.0,12.0,https://web.archive.org/web/20161231004909/htt...,The nation’s first recreational marijuana...

In [6]:
# Columns of news_data (DataFrame)
news_data.keys()

Index(['Unnamed: 0', 'id', 'title', 'publication', 'author', 'date', 'year',
       'month', 'url', 'content'],
      dtype='object')

In [7]:
# Deleting columns of news_data (DataFrame)
news_data.drop(columns=['Unnamed: 0', 'id', 'publication', 'author', 'date', 'year', 'month', 'url'], inplace=True)
news_data

,title,content
0,House Republicans Fret About Winning Their Hea...,WASHINGTON — Congressional Republicans have...
1,Rift Between Officers and Residents as Killing...,"After the bullet shells get counted, the blood..."
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...","When Walt Disney’s “Bambi” opened in 1942, cri..."
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...","Death may be the great equalizer, but it isn’t..."
4,Kim Jong-un Says North Korea Is Preparing to T...,"SEOUL, South Korea — North Korea’s leader, ..."
...,...,...
42566,An eavesdropping Uber driver saved his 16-year...,Uber driver Keith Avila picked up a p...
42567,Plane carrying six people returning from a Cav...,Crews on Friday continued to search L...
42568,After helping a fraction of homeowners expecte...,When the Obama administration announced a...
42569,"Yes, this is real: Michigan just banned bannin...",This story has been updated. A new law in...
42570,What happened in Washington state after voters...,The nation’s first recreational marijuana...

### Dividing news_data into 10 diffrent sets

In [8]:
# Storing '14257' news articles in each DataFrame
news_data_0 = news_data[:14257]
news_data_1 = news_data[14257:28514]
news_data_2 = news_data[28514:42771]
news_data_3 = news_data[42771:57028]
news_data_4 = news_data[57028:71285]
news_data_5 = news_data[71285:85542]
news_data_6 = news_data[85542:99799]
news_data_7 = news_data[99799:114056]
news_data_8 = news_data[114056:128313]
news_data_9 = news_data[128313:]

### Saving the DataFrames for future use

In [9]:
pickle.dump(news_data, open('pickle/news_data', 'wb'))      #       0  - 1,42,569
pickle.dump(news_data_0, open('pickle/news_data_0', 'wb'))  #       0  -   14,256
pickle.dump(news_data_1, open('pickle/news_data_1', 'wb'))  #  14,257  -   28,513
pickle.dump(news_data_2, open('pickle/news_data_2', 'wb'))  #  28,514  -   42,770
pickle.dump(news_data_3, open('pickle/news_data_3', 'wb'))  #  42,771  -   57,027
pickle.dump(news_data_4, open('pickle/news_data_4', 'wb'))  #  57,028  -   71,284
pickle.dump(news_data_5, open('pickle/news_data_5', 'wb'))  #  71,285  -   85,541
pickle.dump(news_data_6, open('pickle/news_data_6', 'wb'))  #  85,542  -   99,798
pickle.dump(news_data_7, open('pickle/news_data_7', 'wb'))  #  99,799  - 1,14,055
pickle.dump(news_data_8, open('pickle/news_data_8', 'wb'))  # 1,14,056 - 1,28,312
pickle.dump(news_data_9, open('pickle/news_data_9', 'wb'))  # 1,28,313 - 14,2,569